body, table td, select, button, .gwt-TextBox, .gwt-PasswordTextBox{
	font-size:100% !important;
}

.mainPanel {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.input-status-ok{
	font-weight:bold;
	color:#4a8b00;		
}

.input-status-error{
	font-weight:bold;
	color:#d1200f;
}

.input-status-loading{
	font-weight:bold;
	color:#0468cc;
}

.perunFooter{
	background-color:#ccc;
	width:100%;
}

.GALD-WOKD .customClickableTextCell, .GPBYFDEBE .customClickableTextCell, .GPBYFDEBE .customClickableTextCell a{
	color:#fff !important;
}

.menuStackPanel {
    border-bottom: 0px solid #FFFFFF !important;
}

.menuStackPanel .gwt-StackPanelItem{
    position:relative !important;
	height:52px !important;
	padding:0px !important;
	vertical-align: top !important;
}

.stackPanelHeaderLink{
	position:relative;
	margin:0px;
	padding:0px !important;
}

.stackPanelHeaderLink .menu-label{
    width: 155px !important;
    display:block !important;
    position: absolute !important;
    height: 55px !important;
    top: 0px !important;
    left: 0px !important;
    padding-left: 54px !important;
    line-height: 54px !important;
    z-index: 1;
}

.stackPanelHeaderLink img{
    position:relative;
    z-index:0;
    left:10px;
    top:10px;
}

.mainMenuHyperlink{
	clear:both;	
	margin:3px 0;
}
.mainMenuHyperlink .mainMenuImage{
	float:left;
	margin-right:4px;	
}

.mainMenuItems td {
    padding-top: 3px;
    padding-left: 3px;
}

.mainMenuHyperlink a{
	height:16px;
	line-height:16px;
}

.mainMenuActive{
	font-weight:bold;
}

.mainMenuInActive{
	color:#999;
}

/* GUI Listboxes with objects */
select {
    max-width: 250px;
}

/* SUGGEST BOX popup - fix visibility on inner tabs */
.gwt-SuggestBoxPopup {
    z-index: 11;
}

.gwt-Button {
    border-radius: 2px !important;
}

/* Style all input-text as gwt-Textbox */
input[type=text] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #999999 #CCCCCC #CCCCCC;
    border-image: none;
    border-right: 1px solid #CCCCCC;
    border-style: solid;
    border-width: 1px;
    font-family: Arial Unicode MS,Arial,sans-serif;
    font-size: small;
    padding: 5px 4px;
}

/* APPLICATION */
.applicationFormLabel{
    text-align: left;
    vertical-align: middle;
    padding:3px 10px;
    max-width: 300px;
}
.applicationFormWidget{
    text-align: left;
    vertical-align: middle;
    padding:3px 10px;
}
.applicationFormHelp{
    color: #777;
    padding:3px 10px;
    margin: 0px 0 8px 0;
    text-align: left;
    line-height: 160%;
    vertical-align: middle;
}
.applicationFormCheck{
    padding:3px 10px;
    text-align: left;
    vertical-align: middle;
    min-width: 100px;
}

/* DEVEL BACKGROUND */
.develbg{
	background-image:url("img/devel.png");
}

/** Custom button widget formatting **/
.customButtonText {
  padding-left:10px;
  padding-right:5px;
  padding-bottom:0px;
  vertical-align:middle;
}
.customButtonTextLeft {
    padding-left:5px;
    padding-right:10px;
    padding-bottom:0px;
    vertical-align:middle;
}
.customButtonImage {
   vertical-align:middle;
   opacity: 1.0;
}
.customButtonImageDisabled {
   vertical-align:middle;
   opacity: 0.5;
}

.gwt-ListBox {
    max-width: 250px !important;
}

/* ======== TAB MENU 2 ========== */

/* Buttons position */
.tabMenu {
    vertical-align: middle;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
}
/* Widget content alignment */
.tabMenu span {
    vertical-align: middle;
}
.tabMenu div {
    vertical-align: middle;
}
.tabMenu img {
    vertical-align: middle;
}
.tabMenu input {
    vertical-align: middle;
}
.tabMenu label {
    vertical-align: middle;
}
.tabMenu select {
    vertical-align: middle;
}
/* first button */
.tabMenu-first {
    padding-left: 0px !important;
}
/* last button */
.tabMenu-last {
    padding-right: 0px !important;
}

/* Perun cell Table style */
.perun-table {
    display:inline-table;
    width:100%;
}
.perun-tableScrollPanel {
    overflow-y: auto;
}

/* GWT TABLE CELL STYLES */
.GPBYFDEAE, .GPBYFDEOC, .GPBYFDEAD, .GPBYFDEBD, .GPBYFDECE, .GPBYFDEID, .GPBYFDEKD, .GPBYFDEHD, .GPBYFDEAD, .GPBYFDEOC {
    border: 0px !important; /* disable borders */
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

/* GWT GRID TABLE STYLES*/
.GPBYFDEDG, .GPBYFDEEG, .GPBYFDEEH, .GPBYFDEBG, .GPBYFDEDG, .GPBYFDEEH, .GPBYFDEKG {
    border: 0px !important; /* disable borders */
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

/* GWT TABLE ROW STYLES */

/* odd row */
.GPBYFDEPC {}
/* even row */
.GPBYFDEPD {}

/* GWT TABLE STYLE */
.GPBYFDEGE {

}

/* CUSTOM CELLS STYLES */

.customClickableTextCell{
    color:#06C;
    cursor:pointer;
}

/* Custom styles */
.pointer, tr.pointer, td.pointer, .pointer tr, .pointer td {
    cursor: pointer !important;
}

/* FIX COLORING OF SELECTED ROWS WHEN RECOLORED */
.GALD-WOKD .customClickableTextCell, .GPBYFDEBE .customClickableTextCell, .GPBYFDEBE .customClickableTextCell a,tr .GPBYFDEBE, tr .GPBYFDEBE td, .GEATBOKCOC .customClickableTextCell,.GEATBOKCAD .customClickableTextCell, .GEATBOKCCE .customClickableTextCell {
    color:#fff !important;
    background: none repeat scroll 0 0 #628CD5 !important;
}

/* COLOR STYLES for ROWS and CELLS */

.rowlightgreen, .rowlightgreen td {
    background: #E0FFC2;
}
.rowlightgreen:hover, .rowlightgreen:hover td {
    background: #D6FFAD;
}
.rowgreen, .rowgreen td {
    background: #C4FFCB !important;
}
.rowgreen:hover, .rowgreen:hover td {
    background: #9CFFA7 !important;
}
.rowdarkgreen, .rowdarkgreen td {
    background: #8CE696 !important;
}
.rowdarkgreen:hover, .rowdarkgreen:hover td {
    background: #78C280 !important;
}
.rowlightyellow, .rowlightyellow td {
    background: #FFFFCC;
}
.rowlightyellow:hover, .rowlightyellow:hover td  {
    background: #FFFFAD;
}
.rowyellow, .rowyellow td {
    background: #F5FA75 !important;
}
.rowyellow:hover, .rowyellow:hover td {
    background: #E2E831 !important;
}
.roworange, .roworange td{
    background: #FCE3BB !important;
}
.roworange:hover, .roworange:hover td {
    background: #FCC772 !important;
}
.rowred, .rowred td {
    background: #FFC4C4 !important;
}
.rowred:hover, .rowred:hover td {
    background: #FC7272 !important;
}
.notDetermined .notDetermined:hover {
    background: #ffffff !important;
}
