<configuration packagingData="false" debug="false" scan="false" scanPeriod="30 seconds">

	<contextName>perun-auditlogger</contextName>

	<!-- variables defining the destination for syslog messages -->
	<variable name="SYSLOG_HOST" value="${auditlogger.syslog.host:-localhost}" />
	<variable name="SYSLOG_FACILITY" value="${auditlogger.syslog.facility:-LOCAL0}" />

	<!-- variable defining the directory where log files will be put, takes system property perun.log -->
	<variable name="LOGDIR" value="${perun.log:-/var/log/perun/}" />

	<!-- production setting for format of log lines -->
	<variable name="ENCODER_PATTERN" value="%date [%thread] %-5level %logger{35} - %msg%n"/>

	<!-- variables configuring syslog parameters -->
	
	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-auditlogger">
		<file>${LOGDIR}perun-auditlogger.log</file>
		<!-- see https://logback.qos.ch/manual/appenders.html#SizeAndTimeBasedRollingPolicy -->
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-auditlogger.log.%d.%i.gz</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender class="ch.qos.logback.classic.net.SyslogAppender" name="syslog-appender">
	    <syslogHost>${SYSLOG_HOST}</syslogHost>
    	<facility>${SYSLOG_FACILITY}</facility>
    	<suffixPattern>%msg</suffixPattern>
    	<throwableExcluded>true</throwableExcluded>
	</appender>
	
	<root level="info">
		<appender-ref ref="perun-auditlogger"/>
	</root>

	<logger name="cz.metacentrum.perun.auditlogger" level="debug"/>
	
	<logger name="syslog-logger" level="debug" additivity="false">
		<appender-ref ref="syslog-appender" />
	</logger>

	<!-- keep Spring quiet -->
	<logger name="org.springframework" level="warn"/>

</configuration>
