<configuration packagingData="false" debug="false" scan="false" scanPeriod="30 seconds">

	<contextName>perun-ldapc-init</contextName>

	<!-- variable defining the directory where log files will be put, takes system property perun.log -->
	<variable name="LOGDIR" value="${perun.log:-/var/log/perun/}"/>

	<!-- production setting for format of log lines -->
	<variable name="ENCODER_PATTERN" value="%date [%thread] %-5level %logger{35} - %msg%n"/>

	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-ldapc-init">
		<file>${LOGDIR}perun-ldapc-init.log</file>
		<!-- see https://logback.qos.ch/manual/appenders.html#SizeAndTimeBasedRollingPolicy -->
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-ldapc-init.log.%d.%i</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="perun-ldapc-init" />
	</root>

	<!-- keep Spring quiet -->
	<logger name="org.springframework" level="warn"/>

</configuration>
