<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p - %C{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>

   <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${perun.log}/perun-engine.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{DATE} %5p %c{2} %M - %m%n"/>
        </layout>
    </appender>

    <appender name="FILE_JMS" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${perun.log}/perun-engine-jms.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{DATE} %5p %c{2} %M - %m%n"/>
        </layout>
    </appender>

    <logger name="cz.metacentrum.perun.engine.jms">
        <level value="INFO"/>
        <appender-ref ref="FILE_JMS"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>
