<!-- https://logback.qos.ch/manual/configuration.html#syntax -->
<!-- http://logback.qos.ch/manual/layouts.html#conversionWord -->
<configuration packagingData="true">
	<contextName>perun-base</contextName>
	<variable name="LOGDIR" value="${perun.log:-/var/log/perun/}"/>
	<variable name="ENCODER_PATTERN" value="%d [%thread] %-5level %logger{35} - %msg%n"/>
	<variable name="MAXHISTORY" value="2"/>



	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="main">
		<file>${LOGDIR}perun.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun.log.%d</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>
	<root level="warn">
		<appender-ref ref="main"/>
	</root>
	<logger name="org.springframework" level="warn"/>
	<logger name="org.springframework.web.context.ContextLoader" level="warn"/>


	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="notification">
		<file>${LOGDIR}perun-notif.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-notif.log.%d</fileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="cz.metacentrum.perun.notif" level="info" additivity="false">
		<appender-ref ref="notification"/>
	</logger>

	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-auditer">
		<file>${LOGDIR}perun-auditer.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-auditer.log.%d</fileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>

	<logger name="cz.metacentrum.perun.core.impl.Auditer" level="error" additivity="false">
		<appender-ref ref="perun-auditer"/>
	</logger>

	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-cabinet">
		<file>${LOGDIR}perun-cabinet.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-cabinet.log.%d</fileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="cz.metacentrum.perun.cabinet" level="info" additivity="false">
		<appender-ref ref="perun-cabinet"/>
	</logger>


	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-core">
		<file>${LOGDIR}perun-core.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-core.log.%d</fileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="cz.metacentrum.perun.core" level="info" additivity="false">
		<appender-ref ref="perun-core"/>
	</logger>
	<logger name="cz.metacentrum.perun.core.impl.JdbcPerunTemplate" level="error"/>
	<logger name="cz.metacentrum.perun.core.impl.PerunTransactionManager" level="error"/>
	<logger name="cz.metacentrum.perun.core.impl.PerunBasicDataSource" level="error"/>

	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-dispatcher-eventProcessor">
		<file>${LOGDIR}perun-dispatcher-eventProcessor.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-dispatcher-eventProcessor.log.%d</fileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="cz.metacentrum.perun.dispatcher.processing.impl.EventProcessorImpl" level="info" additivity="false">
		<appender-ref ref="perun-dispatcher-eventProcessor"/>
	</logger>

	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-dispatcher-events">
		<file>${LOGDIR}perun-dispatcher-events.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-dispatcher-events.log.%d</fileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="cz.metacentrum.perun.dispatcher.processing.EventLogger" level="info" additivity="false">
		<appender-ref ref="perun-dispatcher-events"/>
	</logger>

	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-dispatcher-jms">
		<file>${LOGDIR}perun-dispatcher-jms.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-dispatcher-jms.%d</fileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="cz.metacentrum.perun.dispatcher.jms" level="info" additivity="false">
		<appender-ref ref="perun-dispatcher-jms"/>
	</logger>

	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-dispatcher">
		<file>${LOGDIR}perun-dispatcher.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-dispatcher.log.%d</fileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="cz.metacentrum.perun.dispatcher" level="info" additivity="false">
		<appender-ref ref="perun-dispatcher"/>
	</logger>

	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-dispatcher-matcher">
		<file>${LOGDIR}perun-dispatcher-matcher.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-dispatcher-matcher.log.%d</fileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="cz.metacentrum.perun.dispatcher.processing.impl.SmartMatcherImpl" level="info" additivity="false">
		<appender-ref ref="perun-dispatcher-matcher"/>
	</logger>

	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-dispatcher-queue">
		<file>${LOGDIR}perun-dispatcher-queue.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-dispatcher-queue.log.%d</fileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="cz.metacentrum.perun.dispatcher.jms.DispatcherQueue" level="info" additivity="false">
		<appender-ref ref="perun-dispatcher-queue"/>
	</logger>

	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-engine">
		<file>${LOGDIR}perun-engine.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-engine.log.%d</fileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="cz.metacentrum.perun.engine" level="info" additivity="false">
		<appender-ref ref="perun-engine"/>
	</logger>

	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-registrar">
		<file>${LOGDIR}perun-registrar.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-registrar.log.%d</fileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="cz.metacentrum.perun.registrar" level="info" additivity="false">
		<appender-ref ref="perun-registrar"/>
	</logger>

	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-rpc-lib">
		<file>${LOGDIR}perun-rpc-lib.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-rpc-lib.log.%d</fileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="cz.metacentrum.perun.rpclib" level="info" additivity="false">
		<appender-ref ref="perun-rpc-lib"/>
	</logger>

	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-rpc">
		<file>${LOGDIR}perun-rpc.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-rpc.log.%d</fileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="cz.metacentrum.perun.rpc" level="info" additivity="false">
		<appender-ref ref="perun-rpc"/>
	</logger>

	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-notif-sended">
		<file>${LOGDIR}perun-notif-sended.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-notif-sended.log.%d</fileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="sendMessages" level="info" additivity="false">
		<appender-ref ref="perun-notif-sended"/>
	</logger>

	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-controller">
		<file>${LOGDIR}perun-controller.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-controller.log.%d</fileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="cz.metacentrum.perun.controller" level="info" additivity="false">
		<appender-ref ref="perun-controller"/>
	</logger>


	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="perun-tasklib">
		<file>${LOGDIR}perun-tasklib.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGDIR}perun-tasklib.log.%d</fileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${ENCODER_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="cz.metacentrum.perun.taskslib" level="info" additivity="false">
		<appender-ref ref="perun-tasklib"/>
	</logger>



</configuration>