<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

	<servlet>
		<servlet-name>api</servlet-name>
		<servlet-class>cz.metacentrum.perun.rpc.Api</servlet-class>
	</servlet>

    <!--
    -Dlogback.configurationFile=file://${perun.conf}logback.xml
    or http://stackoverflow.com/questions/14288623/logback-externalization
    -->

	<context-param>
		<param-name>spring.profiles.default</param-name>
		<param-value>@spring.profiles.default@</param-value>
	</context-param>

    <!-- Logback -->
	<listener>
		<listener-class>ch.qos.logback.classic.servlet.LogbackServletContextListener</listener-class>
	</listener>
	<!-- Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:perun-rpc.xml</param-value>
	</context-param>

	<listener>
		<description>ServletContextListener</description>
		<listener-class>cz.metacentrum.perun.rpc.Main</listener-class>
	</listener>

	<servlet-mapping>
		<servlet-name>api</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
