
#header {
    background-color: #DF014B;
    color: white;
}

#header h1,
#header h2,
#header h3,
#header h4,
#header h5,
#header h6 {
    display: inline-block;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
    background-color: #DF014B;
}

a, a:hover, a:focus {
    color: #DF014B;
}