<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--  no effect during generating new id's :(
    <settings>
      <setting name="useGeneratedKeys" value="true"/>
     </settings>
    -->
    <environments default="development">

        <environment id="development">

            <transactionManager type="JDBC"/>

            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="#{jdbc.password}"/>

            </dataSource>
        </environment>
    </environments>

    <databaseIdProvider type="org.apache.ibatis.mapping.VendorDatabaseIdProvider">
        <property name="PostgreSQL" value="postgresql"/>
        <property name="Oracle" value="oracle" />
    </databaseIdProvider>

    <mappers>
        <!-- will we follow convention of specifiing mappers? It works also automatically.. -->
        <mapper resource="cz/metacentrum/perun/cabinet/dao/mybatis/CategoryMapper.xml"/>
        <!-- <mapper resource="PublicationSystemMapper.xml"/> -->
    </mappers>

</configuration>


